<nav>
  <div class="nav-wrapper">
    <!-- <a class="brand-logo left">LOGO</a> -->
    <a href="/" class="brand-logo left"
      ><img src="/docs/logoBoxNoBGWhite.png" alt="Logo"
    /></a>
    <ul class="right">
      <% if (owner) { %>
      <li id="username-info">Logged in as: <%= owner.username %></li>
      <li>
        <form action="/restaurant/logout" method="POST">
          <button type="submit" class="btn logout">Log Out</button>
        </form>
      </li>
      <% } else { %> <% if (!status) { %>
      <li class="cart-icon">
        <i class="material-icons sidenav-trigger" data-target="slide-out"
          >local_grocery_store</i
        >
      </li>
      <% } %> <% } %>
    </ul>
  </div>
</nav>
