<nav>
  <div class="nav-wrapper">
    <!-- <a class="brand-logo left">LOGO</a> -->
    <a class="brand-logo left"><img src="/docs/logoBoxNoBG.png" alt="Logo"></a>
    <ul class="right">
      <% if (owner) { %>
      <li>Logged in as: <%= owner.username %></li>
      <li>
        <form action="/restaurant/logout" method="POST">
          <button type="submit" class="btn logout">Log Out</button>
        </form>
      </li>
      <% } else { %>
      <li>
        <i class="material-icons sidenav-trigger" data-target="slide-out"
          >local_grocery_store</i
        >
      </li>
      <% } %>
    </ul>
  </div>
</nav>
