<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Owner Login</h1>
  <form action="">
    <input type="text" id="username" name="username" placeholder="Username"><br><br>
    <input type="password" id="password" name="password" placeholder="Password"><br><br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <br>
  <p>Looking for something delicious?</p>
  <a class="waves-effect waves-light btn" href="customer_menu.html">Check out our menu!</a>
</body>
</html>
