<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Page</title>
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Font Awesome Icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/orders.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script defer src="/scripts/orders.js"></script>
  </head>

  <body>
    <%- include('./partials/_header') %>

    <ul class="tabs">
      <li class="tab col s3">
        <a class="active" href="#in-progress">In-Progress</a>
      </li>
      <li class="tab col s3">
        <a href="#completed">Completed</a>
      </li>
    </ul>

    <main class="cards-container" id="in-progress">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"
            >Order ID: 123<i class="material-icons right">more_vert</i></span
          >
          <p>Phone Number: <a href="tel:123-456-7890">123-456-7890</a></p>
          <ul>
            <li>FOOD1 x 2</li>
            <li>FOOD2 x 1</li>
            <li>FOOD3 x 1</li>
          </ul>
          <div class="preptime-form-container">
            <p>Estimated prep time (minutes)</p>
            <form>
              <p class="range-field">
                <!-- <label for="prep-time">Estimated prep time (minutes)</label> -->
                <input
                  type="range"
                  id="prep-time"
                  name="preparation-time"
                  min="15"
                  max="70"
                />
              </p>
              <button class="btn" type="submit">Submit</button>
            </form>
          </div>
        </div>
        <div class="card-reveal">
          <section class="card-reveal-header">
            <span class="card-title grey-text text-darken-4"
              >Order ID: 123<i class="material-icons right">close</i></span
            >
            <p>Phone Number: <a href="tel:123-456-7890">123-456-7890</a></p>
          </section>
          <section class="card-reveal-content">
            <div class="preptime-form-container">
              <p>Edit Estimated prep time (minutes)</p>
              <form>
                <p class="range-field">
                  <input
                    type="range"
                    id="prep-time"
                    name="preparation-time"
                    min="15"
                    max="70"
                  />
                </p>
                <button class="btn" type="submit">Edit</button>
              </form>
            </div>
            <div class="button-forms">
              <form>
                <button class="btn order-ready" type="submit">
                  Order Ready
                </button>
              </form>
              <form>
                <button class="btn order-cancel red darken-4" type="submit">
                  Cancel Order
                </button>
              </form>
            </div>
          </section>
        </div>
      </div>
    </main>
    <main id="completed"></main>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
