<!DOCTYPE html>
<html lang="en">

<head>
  <title>Order Up</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/status.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>


<body>
  <div class="container">
    <h1>Restaurant Name</h1>
    <img src="https://secretcharlotte.co/wp-content/uploads/2022/01/haymakerfeatured-1024x640.jpg" width="300" height="200" alt="Restaurant Photo">
    <p>Order ID: 12345</p>
    <p>Pick-Up In 30 minutes</p>
  </div>

  <div id="address">
    <p>123 Queen Street</p>
    <p>Toronto, ON</p>
    <p>M4Y 3C3</p>
    <p>(416)000-0000</p>
  </div>
</body>
</html>
