.custom-backdrop {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* use rgba to set the opacity */
  border: none;

  /* Desktop styles */
  @media only screen and (min-width: 1024px) {
    width: 70vw;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("https://aloetterestaurant.com/wp-content/uploads/2017/10/Aloette-Interiors_006.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-bottom: 70px;
  z-index: 1;

  h3 {
    text-align: center;
    font-family: Didot, sans-serif;
  }
}

.input-field input {
  color: white;
  font-size: 16px;

  // !important is to override materialize css built in styles
  &:focus {
    color: white !important;
    border-bottom: 1px solid white !important;
  }
}

label.active {
  color: white !important;
}

form {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
  }
}

.btn {
  background-color: #c58940;
  color: white;
}

.btn:hover {
  background-color: #a07233;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  bottom: 10vmin;
}

.login-error-message {
  background-color: #630606ca;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 40px 0;

  p {
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
