body {
  height: 100%;
}

// Landing Page

body.landing {
  background-image: url("https://payload.cargocollective.com/1/5/166188/14046351/17088_171017_015_2000_c.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.landing-page-container {
  width: 100vw;
  height: 100vh;
  background-image: url("https://aloetterestaurant.com/wp-content/uploads/2017/10/Aloette-Interiors_003.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  /* Desktop styles */
  @media only screen and (min-width: 1024px) {
    width: 70vw;
    background-image: none;
  }
}

.custom-backdrop {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  border: none;
}

main.landing-content {
  z-index: 100;
  color: #ffffff;
  height: 100%;

  padding-top: 150px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: underline;

    &:hover {
      color: #ffffff;
    }
  }
}

main.landing-content h1 {
  font-family: Didot, sans-serif;
  font-size: 5rem;

  /* Desktop styles */
  @media only screen and (min-width: 1024px) {
    font-size: 7rem;
  }
}

#landing-customer-button {
  background-color: #c58940;
  color: white;
}

#landing-customer-button:hover {
  background-color: #a07233;
}

.render_login_page {
  font-family: helvetica, sans-serif;
  color: white;
  text-decoration: underline;
}

// Landing Page END

//Header

// Navbar
nav .nav-wrapper {
  background-color: #3c3c3c;
  position: relative;
  z-index: 3;

  .brand-logo {
    margin-left: 10px;
    margin-top: 2px;
    display: flex;
    width: 116px;
    height: 60px;

    font-family: helvetica, sans-serif;
    color: white;
  }
  ul :first-child {
    padding-right: 10px;
  }
}

//footer
footer {
  background-color: #f7f7f7;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 400px) {
  #username-info {
    display: none;
  }
}
