body {
  position: relative;
  background-color: #f7f7f7;

  &::-webkit-scrollbar {
    display: none;
  }
}

ul.tabs {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

ul.food-list {
  overflow-y: auto;
}

.cards-container {
  margin: 30px 5vw;
}

div.card {
  height: 350px;
  border: 1px solid #5e5e5e48;
  form {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    form {
      display: flex;
      justify-content: center;

      .view-all-food-button {
        color: #a07233;
      }
    }
  }
}

section.card-reveal-content {
  margin-top: 60px;
}

p.range-field {
  flex: 1;
  padding-right: 20px;
}

p.countdown_container {
  padding-top: 10px;
}

div.button-forms {
  display: flex;
  justify-content: space-between;
  width: 100%;

  form {
    width: 48%;
    button {
      width: 100%;
    }
  }
}
//////////////////////////////////////////

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: black;
  will-change: left, right;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(245, 200, 104, 0.633);
  outline: none;
}

.btn,
.btn-large,
.btn-small {
  background-color: #c58940;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #a07233;
}

//////////////////////////////////////////////

div.card-reveal {
  p {
    margin: 0;
  }
}

.preptime-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  form#preptime-confirm,
  #preptime-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;

    label {
      padding: 5px 0;
    }
    input {
      height: 35px;
      width: 50px;
      margin-right: 10px;
    }
    .input-container {
      display: flex;
      align-items: center;
    }
  }
  p {
    text-align: center;
    font-weight: bold;
  }
}

// Modal

.hide {
  display: none;
}

.modal-container {
  height: 100%;
  width: 100%;

  .custom-backdrop {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    left: 0;
    top: 0;
    position: fixed;
    z-index: 3;
  }

  .custom-modal {
    width: 70vmin;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #00000081;
    background-color: white;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      text-align: center;
    }

    .modal-button-container {
      display: flex;
      button {
        flex: 1;
        margin: 0 5px;
      }
    }

    i {
      align-self: flex-end;
    }
  }
}

#food-modal {
  .custom-modal {
    height: auto;
    padding: 30px;
    .food-modal-content {
      padding-bottom: 30px;
      h5 {
        text-align: center;
      }
    }
  }
}

// Modal End

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .cards-container {
    margin: 50px calc(30px + 5vw);
  }
}
