body {
  position: relative;
}

ul.tabs {
  display: flex;
  justify-content: center;
}

// main.cards-container {
//   display: grid;
//   grid-auto-rows: 1fr;

//   // padding: 20px;
// }

div.card {
  width: 400px;
  margin: 10px;
  form {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

p.range-field {
  flex: 1;
  padding-right: 20px;
}

div.button-forms {
  display: flex;
  justify-content: space-between;
  width: 100%;

  form {
    width: 48%;
    button {
      width: 100%;
    }
  }
}

div.card-reveal {
  p {
    margin: 0;
  }
}

.preptime-form-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  form#preptime-confirm,
  #preptime-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0;
    input {
      height: 35px;
      width: 50px;
      margin-right: 10px;
    }
    .input-container {
      display: flex;
      align-items: center;
    }
  }
  p {
    font-weight: bold;
  }
}

.hide {
  display: none;
}

.modal-container {
  height: 100%;
  width: 100%;

  .custom-backdrop {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    left: 0;
    top: 0;
    position: fixed;
    z-index: 3;
  }

  .custom-modal {
    width: 70vmin;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #00000081;
    background-color: white;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      text-align: center;
    }

    .modal-button-container {
      display: flex;
      button {
        flex: 1;
        margin: 0 5px;
      }
    }

    i {
      align-self: flex-end;
    }
  }
}
