footer {
  background-color: #1c1c1c;
}

.status-page {
  background-image: url("https://img.freepik.com/free-photo/green-leaves-eucalyptus-branches-white-background_1182-2693.jpg?w=1800&t=st=1676598027~exp=1676598627~hmac=d3b8b21031f5ac7e4a9cfe0e8bf9fea5fc9bdbf18d22d06eb1f77fca9825c317");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;

  .custom-backdrop {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .card {
    overflow: auto;
    width: 80%;
    max-height: 75vh;
    max-width: 600px;

    .card-image {
      max-height: 400px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 105%;
        height: 100%;
      }
    }
  }
}

.order_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;

  font-size: 23px;

  p {
    overflow-wrap: break-word;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;

  .order_id {
    font-size: 25px;
    margin: 0;
  }
}

#address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#address p {
  margin: 0;
  padding: 0;
}
